@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 20px;
}

button {
  font-size: 16px;
  
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 20px;
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.subscribe-btn {
  background: rgb(217, 18, 18);
  color: white;
}

.subscribed {
  background: white;
  color: rgb(217, 18, 18);
  border: 1px solid rgb(217, 18, 18);
}